/* .featured-Item {
  background-image: url("../../../assets/home/latestnews.jpg");
} */

.featured-Item {
  background-image: url("../../../assets/home/latestnews.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.featured-img {
  position: relative;
  z-index: 1;
}

.img-back {
  background-image: linear-gradient(
    0deg,
    rgba(21, 21, 21, 0.7),
    rgba(21, 21, 21, 0.7)
  );
}
